<div class="row">
    <div class="box green col-lg-4 col-lg-offset-4">
        <h3 class="title">Log in</h3>
        <div class="splitter"></div>
        <div class="text">
            Login to start gambling points.
        </div>
        <form method="post" ng-submit="submitForm()" action="#" onsubmit="return false;">
            <div class="form-group">
                <label for="cardnum">Card Number</label>
                <input type="password" name="cardnum" class="form-control" id="cardnum" placeholder="1234567890"
                       required ng-model="formData.cardnum">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div ng-if="error" class="alert alert-danger" role="alert"><span>{{error}}</span></div>
    </div>
</div>